[Desktop Entry]
Encoding=UTF-8
Name=dwm
Comment=Dynamic window manager (started via /etc/ly/dwm-session)
Exec=/etc/ly/dwm-session
TryExec=dwm
Type=XSession
